/* 
---------------------------------------------------
Farver på hjemmesiden
---------------------------------------------------
*/
:root {
    /* Primær farver */
    --orange: #CD9023;
    --råHvid: #F2F2F2;
    --sort: #232323;

    /* Sekundær / Neutrale farver */
    --Darkblue: #07646B;
    --Gul: #E0C722;
    --Orange: #CD9023;
    --Brun: #7D5232;

}

/* 
---------------------------------------------------
Reset
---------------------------------------------------
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--råHvid);
    /* Sæt en baggrundsfarve, så jeg ved om jeg har nogle huller i mit layout */
}

/* 
---------------------------------------------------
Navigations linjen
---------------------------------------------------
*/

.main-nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--Brun);
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    z-index: 2;
}

.logo {
    max-width: 80px;
    margin-left: 20px;
}

.logo:hover {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    z-index: 2;
}

.nav-links a:hover {
    color: var(--sort);
    text-decoration: underline;
    transition: .5s;
}

.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}

.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: var(--råHvid);
    transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.main-nav.show .line2 {
    opacity: 0;
}

.main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main-nav.show .nav-links {
    transform: translateX(0%);
}

/* 
---------------------------------------------------
Main
---------------------------------------------------
*/

main {
    font-family: 'Shanti', sans-serif;
    background: var(--sort);
    text-align: center;
    font-size: 18px;
}

/* 
---------------------------------------------------
Overskifter
---------------------------------------------------
 */
h1 {
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
}

h2 {
    color: var(--Gul);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

.headline {
    padding-top: 50px;
    font-size: 150%;
}

p {
    font-size: 18px;
}


/* 
---------------------------------------------------
FORSIDE 
---------------------------------------------------
*/

/* Første del af Forside */
.ground {
    font-size: 26px;
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;
}

.forsideVideo {
    width: 90%;
    border-radius: 3px;
}

.frontPicture {
    width: 100%;
    max-width: 900px;
    max-height: 900px;
    border-radius: 3px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.text {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15vh;
}

.right {
    width: 50%;
}

.startText {
    padding: 50px;
} 

/* Anden del af forsiden */
.water {
    display: flex;
}

.water>.left,
.right {
    min-height: 10vh;
}

.water img {
    width: 100%;
    max-width: 800px;
    border-radius: 3px;
}

.BGBrun {
    background: var(--Brun);
    margin-top: -1px;
    /* Sat en margin da der kom en sort streg */
}

.billedeFormat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftpBillede {
    width: 80%;
    margin-top: 30px;
}

/* 
---------------------------------------------------
TrølleØllene - Side 1 
---------------------------------------------------
*/
#tøIndhold {
    width: 100%;
    min-height: 400px;
    padding: 20px 0;
}

.hoveringOver:hover {
    transition: .8s;
    scale: 1.1;
    border: solid 3px var(--sort);
    border-radius: 3px;
}

.tøTopIndhold video {
    height: 96.8%;
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 0;
    opacity: .4;
}

.tøTopIndhold div {
    z-index: 1;
}

.direction {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: auto;
    gap: 1em;
    margin-bottom: 17px;
    margin-top: 17px;
}

.direction:last-child {
    margin-bottom: 0;
}

.boxPicture {
    display: flex;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.boxPicture img,
.boxPicture video {
    max-height: 350px;
    width: 130%;
}

.ekstraBilleder {
    opacity: .7;
}

.tøTopText {
    width: 100%;
}

/* 
---------------------------------------------------
Øllene
---------------------------------------------------
*/

.ølDel {
    margin-top: 50px;
    min-height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.streg {
    width: 30%;
    height: 3px;
    background: var(--Brun);
}

.ølLabelPicture {
    width: 30%;
    border-radius: 3px;
    margin-top: 150px;
}

.leftØl {
    width: 50%;
    font-size: 18px;
    padding: 0 50px;
}
.rightØl {
    width: 50%;
}

.ølPicture {
    border-radius: 3px;
    width: 50%;
}

.ølBox {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 30px 100px;
    background-color: var(--Brun);
    border-radius: 3px;
    align-items: flex-start;
    gap: 5px;
    min-height: 400px;
}

.ølBoxInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.ølBoxInfo h3 {
    color: var(--Gul);
}

.middleSpace {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

/* 
---------------------------------------------------
Fremtidige Projekter
---------------------------------------------------
*/

/* 
-------------------------
TrølleMock
-------------------------
*/



/* 
---------------------------------------------------
Historien bag Trøjborg Bryg
---------------------------------------------------
*/


/*
---------------------------------------------------
Buttons
---------------------------------------------------
*/
.button {
    width: fit-content;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}

.button:hover {
    color: #232323;
    background: var(--Gul);
    border: solid 2px var(--Gul);

}

.buttonSpace {
    display: flex;
    gap: 1rem;
}

.buttonSize {
    font-size: 80%;
}

.btMain {
    background: var(--Darkblue);
    border: solid 2px var(--Darkblue);
}

.btSub {
    background: transparent;
    border: solid 2px var(--Darkblue);
}

.textLink {
    color: var(--Brun);
    text-transform: uppercase;
    text-decoration: underline;
}

.textLink:hover {
    color: var(--Gul);
}


/* 
---------------------------------------------------
Footer
---------------------------------------------------
*/
footer {
    background: var(--Brun);
    padding: 20px 0;
}

.footer_container {
    /* max-width: 1300px; */
    /* margin: auto; */
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logoFooter {
    width: 60px;
}

.logoBoxFooter {
    width: 250px;
}

.social_media {
    margin: 20px 150px;
    display: flex;
    gap: 2rem;
}

.social_media a {
    font-size: 30px;
    text-decoration: none;
    color: var(--råHvid);
    transition: .3s;
}

.social_media a:hover .fab {
    color: var(--Darkblue);
    scale: 1.5;
    transition: .8s;
}

.footerText {
    width: 250px;
}


/* 
---------------------------------------------------
MEDIA QUARY
---------------------------------------------------
*/


/* 
--------------------------
Desktop layout
--------------------------
*/
@media screen and (min-width: 1275px) {

    /*
-------------
Navigationslinjen
-------------
*/
    .nav-links {
        width: 60%;
    }

    .ground>.left,
    .right {
        min-height: 95vh;
        height: auto;
    }

    /*
-------------
Historien Bag 
-------------
*/
    .boxPicture {
        border-radius: 3px;
    }

}

/* 
--------------------------
Tablet Layout
--------------------------
*/
@media screen and (max-width: 1274px) {


    /*
-------------
Navigationslinjen
-------------
*/
    .burger {
        display: block;
    }

    .logo {
        max-width: 60px;
        margin-left: 10px;
    }

    .nav-links {
        position: fixed;
        top: 65px;
        right: 0;
        height: 250px;
        width: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: var(--Brun);
        transform: translateX(100%);
        transition: transform 0.5s ease;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }

    /* 
-------------
Forside Øverste del
-------------
*/
    .ground,
    .water {
        font-size: 16px;
        text-align: center;
    }

    .ground {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    .frontPicture {
        border-radius: 0;
    }

    .text {
        padding: 0 100px;
    }

    .left,
    .right {
        min-height: 40vh;
        width: 100%;
    }

    .right {
        margin: 40px 0;
    }

    .empty {
        margin: 0;
    }

    .startText {
        width: 100%;
        min-height: 22vh;
        gap: 1;
    }
    
    #failer {
        flex-direction: column;
        padding-top: 50px;
    }

    /* 
-------------
Forside anden del
-------------
*/
    .water {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .headline {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 50px;
    }


/* 
-------------
TrølleØllene valg af øl
-------------
*/
    .hoveringOver:hover {
        scale: none;
        opacity: 1;
    }

    .tøTopIndhold video {
        height: 51%;
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        z-index: 1;
    }

    .tøTopIndhold {
        margin-bottom: 92px;
    }

    .direction {
        gap: 0;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        min-height: 170px;
    }

    .direction a,
    .direction video {
        height: 170px;
    }

    .boxPicture {
        height: 170px;
    }

/* 
-------------
Øllene
-------------
*/
    .ølLabelPicture {
        width: 90%;
        margin-top: 20px;
    }

    .ølDel {
        padding: 0;
        flex-direction: column;
    }

    .leftØl {
        width: 100%;
    }

    .rightØl {
        margin-top: 30px;
        width:100%;
    }

    .ølBox {
        width: 60%;
        padding: 20px;
    }

/* 
-------------
Fremtidige Projekter
-------------
*/

.MocktailEkstraPic {
    display: none;
}

    /* 
-------------
Historien Bag
-------------
*/
    .ftpDel {
        padding-top: 30px;
    }

    .flexDireC {
        flex-direction: column;
    }

    .flexDireCR {
        flex-direction: column-reverse;
    }

    .HboDel {
        padding-bottom: 50px;
    }

    /* 
-------------
Buttons
-------------
*/
    .buttonSize {
        margin-top: 10px;
        font-size: 100%;
    }


    /* 
-------------
Footer
-------------
*/
    .footerText,
    .logoBoxFooter {
        width: 50%;
        text-align: center;
    }

}

/*
--------------------------
Mobil Loyout
--------------------------
 */
@media screen and (max-width: 400px) {

    .nav-links {
        width: 80%;
    }

    /* 
-------------
Main 
-------------
*/

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    /* 
-------------
Forside - Øverste del 
-------------
*/
    .ground {
        flex-direction: column-reverse;
    }

    .water {
        flex-direction: column;
    }

    .ftpDel {
        flex-direction: column-reverse;
    }

    .text {
        min-height: 400px;
        padding: 0 30px;
    }


    /*
-------------
TrølleØllene
-------------
*/
    .tøTopIndhold video {
        position: relative;
        top: 0;
        width: 100%;
    }

    .direction {
        flex-direction: column;
        gap: 1em;
    }

    .boxPicture {
        width: 85%;
    }

    .boxPicture:nth-last-child(1) {
        margin-bottom: 17px;
    }

    .ekstraBilleder {
        display: none;
    }

    .direction:nth-child(2) {
        margin-bottom: 15px;
    }

    .CRD {
        flex-direction: column-reverse;
    }

/*
-------------
Øllene
-------------
*/
    .ølBox {
        width: 80%;
    }

    /*
-------------
Buttons
-------------
*/
    .buttonSpace {
        flex-wrap: wrap;
        justify-content: center;
    }


    /*
-------------
Footer
-------------
*/
    .footer_container {
        justify-content: center;
    }

    .social_media {
        gap: 5rem;
    }
}