/* 
---------------------------------------------------
Farver på hjemmesiden
---------------------------------------------------
*/
:root {
    /* Primær farver */
    --orange: #CD9023;
    --råHvid: #F2F2F2;
    --sort: #232323;

    /* Sekundær / Neutrale farver */
    --Darkblue: #07646B;
    --Gul: #E0C722;
    --Orange: #CD9023;
    --Brun: #97633E;

}

/* 
---------------------------------------------------
Reset
---------------------------------------------------
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--råHvid);
    /* Sæt en baggrundsfarve, så jeg ved om jeg har nogle huller i mit layout */
}

/* 
---------------------------------------------------
Navigations linjen
---------------------------------------------------
*/

.main-nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--Brun);
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.logo {
    max-width: 80px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a:hover {
    color: var(--sort);
    text-decoration: underline;
    transition: .5s;
}

.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}

.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: var(--råHvid);
    transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.main-nav.show .line2 {
    opacity: 0;
}

.main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main-nav.show .nav-links {
    transform: translateX(0%);
}

/* 
---------------------------------------------------
Main
---------------------------------------------------
*/

main {
    font-family: 'Shanti', sans-serif;
    background: var(--sort);
    text-align: center;
}

/* 
---------------------------------------------------
Overskifter
---------------------------------------------------
 */
h1 {
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
}

h2 {
    color: var(--Gul);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}




/* 
---------------------------------------------------
FORSIDE 
---------------------------------------------------
*/

/* Første del af Forside */
.ground{
    font-size: 26px;
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;
}

.ground p  {
    font-size: 18px;
}

.forsideVideo {
    width: 90%;
    border-radius: 3px;
}



.frontPicture {
    width: 100%;
    max-width: 900px;
    max-height: 900px;
    border-radius: 3px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.text {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.right {
    width: 50%;
}

/* .startText {
    padding: 50px;
} */

/* Anden del af forsiden */
.water {
    font-size: 20px;
    display: flex;
}

.water > .left, .right {
    min-height: 10vh;
}

.water img {
    width: 100%;
    max-width: 800px;
    border-radius: 3px;
}

.BGBrun {
    background: var(--Brun);
}

.billedeFormat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forsideBillede {
    width: 100%;
    margin-top: 30px;
}

/* 
---------------------------------------------------
TrølleØllene - Side 1 
---------------------------------------------------
*/
#tøIndhold {
    width: 100%;
    min-height: 400px;
}

.tøTopIndhold video {
    height: 96.8%;
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 0;
    opacity: .4;
}

.tøTopIndhold div {
    z-index: 1;
}

.direction {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: auto;
    gap: 1em;
    margin-bottom: 17px;
    margin-top: 17px;
}

.direction:last-child {
    margin-bottom: 0;
}

.boxPicture {
    display: flex;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.boxPicture img, .boxPicture video {
    max-height: 350px;
    width: 130%;
}


/* 
---------------------------------------------------
Øllene
---------------------------------------------------
*/



/* 
---------------------------------------------------
Fremtidige Projekter
---------------------------------------------------
*/
#ftpPage {
}

.headline {
    padding-top: 50px;
    font-size: 150%;
}


/* 
---------------------------------------------------
Historien bag Trøjborg Bryg
---------------------------------------------------
*/


/*
---------------------------------------------------
Buttons
---------------------------------------------------
*/
.button {
    width: fit-content;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}

.button:hover{
    color: #232323;
    background: var(--Gul);
    border: solid 2px var(--Gul);
}

.buttonSpace {
    display: flex;
    gap: 1rem;
}

.btMain{
    background: var(--Darkblue);
    border: solid 2px var(--Darkblue);
}

.btSub {
    background: transparent;
    border: solid 2px var(--Darkblue);
}

.textLink {
    color: var(--Brun);
    text-transform: uppercase;
    text-decoration: underline;
}

.textLink:hover {
    color: var(--Gul);
}


/* 
---------------------------------------------------
Footer
---------------------------------------------------
*/
footer {
    background: var(--Brun);
    padding: 20px 0;
}

.footer_container {
    /* max-width: 1300px; */
    /* margin: auto; */
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logoFooter {
    width: 60px;
}

.logoBoxFooter {
    width: 250px;
}

.social_media {
    margin: 20px 150px;
    display: flex;
    gap: 2rem;
}

.social_media a {
    font-size: 30px;
    text-decoration: none;
    color: var(--råHvid);
    transition: .3s;
}

.social_media a:hover .fab{
    color: var(--Darkblue);
}

.footerText {
    width: 250px;
}


/* 
---------------------------------------------------
MEDIA QUARY
---------------------------------------------------
*/


/* 
--------------------------
Desktop layout
--------------------------
*/
@media screen and (min-width: 1275px) {
/*
-------------
Navigationslinjen
-------------
*/
    .nav-links {
        width: 60%;
    }

    .ground > .left, .right {
        min-height: 95vh;
        height: auto;
    }

}

/* 
--------------------------
Tablet Layout
--------------------------
*/
@media screen and (max-width: 1274px){
/*
-------------
Navigationslinjen
-------------
*/
    .burger {
        display: block;
    }

    .logo {
        max-width: 60px;
        margin-left: 10px;
    }

    .nav-links {
        position: fixed;
        top: 7vh;
        right: 0;
        height: 30vh;
        width: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: var(--Brun);
        transform: translateX(100%);
        transition: transform 0.5s ease;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }

/* 
-------------
Forside Øverste del
-------------
*/
    .ground, .water {
        font-size: 16px;
        text-align: center;
    }

    .ground {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    .frontPicture {
        border-radius: 0;        
    }

    .water {
        min-height: 0;
    }

    .text {
        padding: 0 10px;
    }

    .left {
        min-height: 40vh;
    }

    .right{
        min-height: 40vh;
    }

/* 
-------------
Forside anden del
-------------
*/
    .headline {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .empty {
        width: 100%;
    }
    
    .text {
        width: 100%;
    }

/* 
-------------
TrølleØllene valg af øl
-------------
*/
    #tøIndhold {
        
        }



    .tøTopIndhold video {
        height: 51%;
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        z-index: 1;
    }

    .tøTopIndhold {
        margin-bottom: 92px;
    }

    .direction {
        gap: 0;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        min-height: 170px;
    }

    .direction a, .direction video{
        height: 170px;
    }

    .boxPicture {
        height: 170px;
    }

/* 
-------------
Footer
-------------
*/
    .footerText, .logoBoxFooter {
        width: 50%;
        text-align: center;
    }

}

/*
--------------------------
Mobil Loyout
--------------------------
 */
@media screen and (max-width: 400px) {

    .nav-links {
        width: 80%;
    }

/* 
-------------
Main 
-------------
*/

.left {
    width: 100%;
}

.right {
    width: 100%;
}

/* 
-------------
Forside - Øverste del 
-------------
*/
    .ground {
        flex-direction: column-reverse;
    }

    .water {
        flex-direction: column;
    }

    .ftpDel {
        flex-direction: column-reverse;
    }
    

    .text {
        min-height: 500px;
    }

/*
-------------
TrølleØllene
-------------
*/
    .tøTopIndhold video {
        position: relative;
        top: 0;
        width: 100%;
    }



    .direction {
        flex-direction: column;
    }

    .boxPicture {
        width: 100%;
    }

    .boxPicture:nth-last-child(1) {
        margin-bottom: 17px;
    }

    .boxPicture {
        
    }

/*
-------------
Footer
-------------
*/
    .footer_container {
        justify-content: center;
    }

    .social_media {
        gap: 5rem;
    }
}